html {
    font-size: 20px;
    font-family:monospace, "Monaco";
    color:rgb(220, 159, 255);
    background-image: linear-gradient(rgb(25, 0, 40), rgb(0,0,0));
}

main {
    height:100%;
}

nav {
    background-color: rgb(18, 0, 30);
    text-align: center;
    font-size: 50px;
    height: 100px;

    a {
        text-align:left;
        color:rgb(220, 159, 255);
    }
}

.starfield {
    pointer-events:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.star {
    pointer-events:none;
    position: absolute;
    border-radius: 50%;
    background: white;
    opacity: 0;
}

button {
    height:100px;
    width:100px;
    padding-left:2.5%;
    padding-right:2.5%;
    background-color:rgba(250, 235, 215, 0);
    border: none;
    appearance: none;

    img {
        opacity:50%;
    }
    img:hover {
        opacity:80%;
    }
}

p {

    padding-left:100px;
    padding-right:100px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius:100px;
    padding:20px;
    font-size:40px;
    height:auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto; 

    background-color:rgba(255, 127, 80, 0.047);

    font-size:30px;

}

h1 {
    font-size: 60px;
    text-align: center;
    color:rgb(230, 188, 254);
    text-shadow: 1px 0 rgb(255, 255, 255), 0 1px black, 1px 0 black, 0 -1px black;
}
  